%h2= _('Why do you need my name and contact details?')
%p= _('We need your details so that our contractors can contact you to provide a quote. Your contact details are sent to a contractor once they have purchased your job lead.To protect your personal information, a maximum of 3 contractor will only be able to view your name and contact details.')
%br
%h2= _('Will you publish my contact details when I post a job?')
%p= _('No. Your contact details will never be made public on the platform. Your contact details are only available to the contractors that purchase your job lead.')
%br
%h2= _("I have posted a job what now?")
%ul
  %li= _("We send your lead by e-mail and SMS to all the relevant contractors in your area. Up to 3 contractors, who are interested in quoting on your job, will buy your job lead and contact you.")
  %li= _("When a contractor buy's your lead an e-mail with the contractors details and a link to their profile page is sent to you. This is to help you with  the selection process.")
  %li= _("Selecting a contractor can be hard. Make sure you check relevant qualification and if needed ask for referrals.")
  %i.fa.fa-book
  = _("Read more about:")
  %a{href: "https://www.kluje.com/en-sg/blog/selecting-the-right-contractor",target: "_blank",rel: "canonical"}
    = _("Selecting the right contractor")
  %li= _("Once your contractor has finished the job you can rate them on kluje.com")
%h2= _('How do I rate the contractor and why?')
%p
%h3= _("How :")
= _("You can rate a contractor by simply login in to your account on kluje.com, select the job you have posted and then select the rate this contractor button. The contractor can also send a request for a rating, click on the link in the email you have received from the contractor and you will be able to rate the contractor.")
%br
%br
%h3= _("Why :")
= _("When the work is completed you can rate the  contractor on Quality, Professionalism and Value. By rating the contractor you are sharing your experience with others in your community, thereby creating an online community of curated")
%h3= _("better quality contractors.")
%br
%i.fa.fa-book
= _("Read more about:")
%a{href: "https://www.kluje.com/en-sg/blog/contractor-ratings-how-they-help-you",target: "_blank",rel: "canonical"}
  = _("Contractor Rating: How they help you?")
