%ul.fa-ul.spaced
  %li
    %i.fa.fa-li.fa-weixin.orange.fa-2x
    %h3= _("How long does it take?")
    %p= _("It only takes 5 min to post.")
  %li
    %i.fa.fa-li.fa-phone.orange.fa-2x
    %h3=_("Select a Contractor.")
    %p= _("It is important to choose a contractor that is best suited for the job you want done.  This will help ensure that you are contacted by a contractor who is qualified to do your job.")
  %li
    %i.fa.fa-li.fa-money.orange.fa-2x
    %h3=_("Choose a budget.")
    %p
      =_("This is an estimated budget and will help the contractor decide whether they can do your job. Consider labour and materials costs when choosing a budget.")
      %br
      %i.fa.fa-book
      = _("Read more about:")
      %a{href: "https://www.kluje.com/en-sg/blog/renovation-cost",target: "_blank",rel: "canonical"}
        = _("What does a renovation cost?")
      %br
      %i.fa.fa-book
      = _("Read more about:")
      %a{href:"https://www.kluje.com/en-sg/blog/renovation-budget-set-right-one",target: "_blank",rel: "canonical"}
        = _("Renovation budget: How to set the right one")
  %li
    %i.fa.fa-li.fa-file-text.orange.fa-2x
    %h3= _("Add a description.")
    %p= _("Give as much detail about your job, consider the size, location and whether materials are included. The more detail the easier it is for a contractor to decide to purchase your lead. Don't add any personal details in the description.")
  %li
    %i.fa.fa-li.fa-photo.orange.fa-2x
    %h3=_("Add a photo.")
    %p= _("Add a photo to help the contractor to understand the work you need done.")
