%p
  = _('Dear %s,') % homeowner.first_name || homeowner.last_name

%p= _('Welcome to Kluje.com, the only online marketplace that connects you with Better Quality Contractors! Let me share with you how this will work now that you have posted your job:')

%ul
  %li= _('Your job will then be viewed by quality, local contractors. These contractors will BID on your job details and contact you to quote – expect their call')
  %li= _('We will send you the profile and Genuine Ratings of each interested contractor when they bid on your lead, you can also view the contractors contact details by login in to your account.')

%p
  %i= _('Remember, your Login is your email address and the password as entered during sign up.')

%p
  %strong= _('Important')
%ul
  %li= _('Our contractors pay for the opportunity to quote on your job, please give them every opportunity to do so.')
  %li= _("If no contractors respond in the next 12 hours, log onto your account and review your job details, remember you need to be clear, the more details the better.Additionally, the most common reason no one buys your lead is that your entered budget does't match your job details. Try adjusting it and see if that helps.")
