%p
  = _('Dear %s,') % homeowner.first_name || homeowner.last_name

%p= _('Welcome to Kluje Commercial, the only online marketplace that connects you with Better Quality Contractors! Let me share with you how this will work now that you have posted your job:')

%ul
  %li= _('Our Kluje verified contractors will now view your job. ')
  %li= _('We will send you the profile and Genuine Ratings of the 3 contractors that are interested in your job.')

%p
  %i= _('Remember, your Login is your email address and the password as entered during sign up. ')
