.row
  .col-md-12
    %h3= _('Thank you for posting your Job!')
    = _('Quality Local Contractors will review your job requirements and decide if they can do the work based on the details you provided.')
    %p
      = _('As part of Kluje.com’s service to you, only')
      %em= _('interested')
      = _('contractors will call you about your job.')
      %br
      %strong= _('Up to 3 Contractors will BUY')
      = _('your job lead and contact you to arrange a time to quote on the job. Please expect their call and afford them every opportunity to do so.')

    %p= _('Kluje.com will notify you when a contractor buys your lead via email, so please check periodically.')

    %p
      = _('If at anytime you have a question, contact us at')
      = link_to('homeownerservice@kluje.com', 'mailto:homeownerservice@kluje.com')
      = _('and we will be happy to answer your queries.')

    %p= _('Thanks again for using kluje.com!')
    %br
