- content_for(:extra_footer_tags) do
  = javascript_include_tag skills_path
  = javascript_include_tag 'homeowner'

- tooltip_params = {class: 'glyphicon glyphicon-question-sign', rel: 'tooltip', data: {placement: 'right', html: 'true'}}

%table.table.table-condensed.margin-bottom-0
  %thead{style: 'background-color:#f5f5f5'}
    %tr
      %th= _('Contractor')
      %th= _('Quoted at')
      %th= _('Amount')
      %th= _('Quote file')
      %th
  %tbody
    - if @job.has_bids?
      - @job.bids.each do |bid|
        - if bid.amount_quoter.present?
          %tr
            %td
              - name = "#{bid.contractor.company_name} (#{bid.contractor.verified ? '' : 'un'}verified)"
              = link_to name, bid.contractor.profile_url
            %td
              = I18n.localize(bid.created_at.in_time_zone(current_country.time_zone), format: :short)
            %td
              = number_to_currency(bid.amount_quoter, :unit => "#{bid.currency}")
            %td
              - if bid.file.present?
                = link_to "Attachment (click to open)", "#{bid.file}", target: '_blank'
            %td
              - if bid.accept == true
                =_('Accepted')
              - else
                = form_for :bid, url: commercial_job_update_path(@job, bid), :html => {class: 'form-inline quoter-form', method: 'patch'}, multipart: true do |f|
                  .form-group
                  = f.hidden_field(:accept, :value => true)
                  = f.submit _('Accept'), :class => 'btn btn-green btn-xs', :disable_with => _('Accepting')
    - else
      %tr
        %td{ colspan: 4 }
          %p= _('No Contractors have placed any Quotes on Job yet.')
