- if current_account.homeowner? && @state != 'archived'
  .margin-10.pull-left
    .fa.fa-circle.red
    = _('Pending')
  .margin-10.pull-left
    .fa.fa-circle.green
    = _('Approved')
  .margin-10.pull-left
    .fa.fa-circle.orange
    = _('Bidded')
  .margin-10.pull-left
    .fa.fa-circle.grey
    = _('Completed')
  .pull-right
    = link_to(_('Post your Requirements'), new_commercial_job_path(locale: current_locale_country), class: 'btn btn-danger pull-right w-300')
  .clearfix.margin-bottom-20
- elsif current_account.contractor?
  - if @state != 'purchased'
    .pull-left.margin-10
      .fa.fa-circle.orange
      = _('Not bidded')
  - else
    .pull-left.margin-10
      .fa.fa-circle.orange
      = _('Rated')
    .margin-10.pull-left
      .fa.fa-circle.grey
      = _('Completed')
  .clearfix.margin-bottom-20
- else
  .margin-bottom-40
