.row
  .col-md-12
    %h3= _('Thank you for posting your Job!')
    = _('Quality Local Contractors will review your job requirements and decide if they can do the work based on the details you provided.')
    %p
      = _('As part of Kluje.com’s service to you, only')
      %em= _('interested')
      = _('contractors will bid for your job.')
      %br
    %p
      = _('If you requested the concierge service we will call you to schedule a meeting with a contractor and get a proper understanging of your requirements.')

    %p= _('Kluje.com will notify you when a contractor buys your lead via email, so please check periodically.')

    %p
      = _('If at anytime you have a question, contact us at')
      = link_to('homeownerservice@kluje.com', 'mailto:homeownerservice@kluje.com')
      = _('and we will be happy to answer your queries.')

    %p= _('Thanks again for using kluje.com!')
    %br
