.white-noise-bg.padding-top-100.padding-bottom-30
  .container.how-it-works.text-center
    .row
      %h2.orange-light.upcase=_('How it works')
    .row
      %h3.dark-grey= _('Post a job and up to 3 contractors will contact you')
    .row.padding-boxttom-50.padding-top-50
      .col-sm-3
        .square.post
        %h4= _('Post your job for free')
      .col-sm-3
        .square.contact
        %h4= _('Contractors will contact you')
      .col-sm-3
        .square.check
        %h4= _('Check the profiles and hire')
      .col-sm-3
        .square.rate
        %h4= _('Rate the service')
