.white-noise-bg.padding-top-100.padding-bottom-30
  .container.how-it-works.text-center
    .row
      %h2.orange-light.upcase= _('How it works')
    .row
      %h3.dark-grey= _('Find New Customers The Easy Way')
    %hr.grey
    .row.padding-boxttom-50.padding-top-50.text-center
      .col-sm-4
        .circle.sign_up
        %h4= _('Sign up for a<br> FREE account').html_safe
      .col-sm-4
        .circle.update_profile
        %h4= _('Update your profile with your<br> previous jobs').html_safe
      .col-sm-4
        .circle.bid
        %h4= _('Start bidding for hot leads<br> from real customers').html_safe
      .col-sm-4.col-sm-offset-2
        .circle.quote
        %h4= _('Contact the customers<br> to do quotes').html_safe
      .col-sm-4
        .circle.ratings
        %h4= _('Complete the job and get<br> rated to build your reputation').html_safe
