.white-noise-bg
  .container.padding-top-50.padding-bottom-150
    .text-center
      %h2.upcase= _('Why you should join Kluje')
      %h3= _('Get unlimited job leads')
    .padding-top-40.padding-bottom-30
      %hr.light-grey2
    .row
      .col-md-6
        %h3= _('What is included in my free account?')
        %ul.diamond
          %li= _('Get a personalized profile page')
          %li= _('No long-term commitment and no contract')

      .col-md-6
        %h3= _('What are the benefits?')
        %ul.diamond
          %li= _('Get unlimited job leads')
          %li= _("Increase your company's online presence")
          %li= _('Connect to customers via mobile or tablet')
          %li= _('Find new customers quickly and easily with live alerts')
          %li= _('Reduce the overall cost for marketing')
