- content_for(:title, _("Locations"))
- content_for(:description, 'Kluje.com was founded in Singapore but aims to make life easier for homeowners globally. Here is the list of locations.')
- content_for(:keywords, 'kluje, countries, locations, south africa, singapore, malaysia, thailand, vietnam, india')

.container.margin-top-20
  .row
    .col-md-8
      %h1.page-title.margin-bottom-10= _("Locations")
      .row.light-grey-bg.padding-20
        .col-md-6
          %p=_("Kluje.com was founded in Singapore but aims to make life easier for homeowners globally. Currently we're available in 4 countries in South-East Asia and are planning on broadening our reach in the near future")
        .col-md-6.row.text-center
          - Country.available.each do |country|
            .country.col-xs-6.padding-20
              = image_tag country.flag_url, alt: country.name, title: country.name, class: 'locations-flag'
              %br
              %h3.subscript= _(country.name)
    .col-md-4
      = render 'widgets/countries'
      = render 'widgets/facebook'
