.widget
  .header
    %h2= _('How it works')
  .body
    .youtube
      %iframe.fluid{src: 'https://www.youtube.com/embed/K2px2YN0cB8?rel=0&showinfo=0&autohide=1', frameborder: 0, allowfullscreen: true}
    %ul.h4.spaced.none.list
      %li
        %span.circle.post.smaller
        = _('Post your job for free')
      %li
        %span.circle.contact.smaller
        = _('Contractors will contact you')
      %li
        %span.circle.check.smaller
        = _('Check the profiles and hire')
      %li
        %span.circle.rate.smaller
        = _('Rate the service')
