.widget
  .header
    %h3.h-3= _('What are the Benefits?')
  .body
    %ol.benefits-wrapper
      %li
        = _('Save time looking for contractor')
      %li
        = _('Connect with contractors on your mobile or tablet')
      %li
        = _('See photos, rating and qualifications on the contractor profile')
      %li
        = _('Contractors want good ratings')
      %li
        = _('Help build a better renovation industry')
