.container
  .row
    .col-md-12
      .row
        .col-md-5
          = form_for :account, url: change_password_account_path, method: :post do |f|
            .form-group
              = f.label _("Retype your current password:")
              = f.password_field :old_password, class: 'form-control'
            .form-group
              = f.label _("New Password")
              = f.password_field :password, class: 'form-control'
            .form-group
              = f.label _("New Password Confirmation")
              = f.password_field :password_confirmation, class: 'form-control'
            = submit_tag _('Confirm'), class: 'btn btn-warning', disable_with: _('Confirm')
